<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true">

    <!--test start-->
    <property name="LOG_PATH" value="F:\\logs\\OutsideVas" />
    <!--    <property name="LOG_PATH" value="/logs//OutsideVas/vasLog"/>-->
    <!--test end-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="inputAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/vasLog_in.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/vasLog_in_%d{YYYY_MM}.txt</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="outputAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/vasLog_output.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/vasLog_output_%d{YYYY_MM}.txt</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="inputLogger" level="INFO" additivity="false">
        <appender-ref ref="inputAppender"/>
    </logger>
    <logger name="outputLogger" level="INFO" additivity="false">
        <appender-ref ref="outputAppender"/>
    </logger>
</configuration>